<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      {% if site.profile.tryhackme %}
      <a class="particles-icon" href="{{ site.profile.tryhackme }}">{% include svg/tryhackme.svg %}</a>
      {% endif %}
      {% if site.profile.ctftime %}
      <a class="particles-icon" href="{{ site.profile.ctftime }}">{% include svg/ctftime.svg %}</a>
      {% endif %}
      {% if site.profile.codingame %}
      <a class="particles-icon" href="{{ site.profile.codingame }}">{% include svg/codingame.svg %}</a>
      {% endif %}
      {% if site.profile.exercism %}
      <a class="particles-icon" href="{{ site.profile.exercism }}">{% include svg/exercism.svg %}</a>
      {% endif %}
      {% if site.profile.credly %}      
      <a class="particles-icon" href="{{ site.profile.credly }}">{% include svg/credly.svg %}</a>
      {% endif %}
      {% if site.profile.linkedin %}
      <a class="particles-icon" href="{{ site.profile.linkedin }}">{% include svg/linkedin.svg %}</a>
      {% endif %}
      {% if site.profile.twitter %}
      <a class="particles-icon" href="{{ site.profile.twitter }}">{% include svg/twitter.svg %}</a>
      {% endif %}
      {% if site.profile.storygraph %}
      <a class="particles-icon" href="{{ site.profile.storygraph }}">{% include svg/storygraph.svg %}</a>
      {% endif %}
      {% if site.profile.github %}
      <a class="particles-icon" href="{{ site.profile.github }}">{% include svg/github.svg %}</a>
      {% endif %}
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
